/* ! BASE STYLE */
body{font-family: 'Red Hat Display', sans-serif;}
a{text-decoration: none;}
h1, h2, h3, h4, h5, p{color: black}
.text1{color: black; font-size: 50px}
.text2{color: black; font-size: 40px}
.text3{color: black; font-size: 30px}
.text4{color: black; font-size: 28px}
.text5{color: black; font-size: 25px}
.text6{color: black; font-size: 22px}
.text7{color: black; font-size: 20px}
.text8{color: black; font-size: 18px}

/* ! HEADER */
header{
  max-width: 1450px;
  margin: auto;
  display: flex;
  background: white;
}
.logo{
  z-index: 2;
  max-height: 100px
}
.logo img{
  padding-left: 10px;
  max-height: 100px
}
.menu{
  z-index: 0;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: flex-end;
}
.menu a{
  display: inline-block;
  padding: 15px;
  color: black;
  font-variant: small-caps;
}
.menu a:after{
  content: "";
  display: flex;
  width: 0px;
  height: 4px;
  margin: 5px 0 0;
  background-color: #FFC100;
  transition: all 0.5s ease-in-out;
}
.menu a:hover:after{
  width: 100%;
}
.hamburger{
  z-index: 1;
  display: none;
}

/* ! HERO */
.hero{
  max-width: 1450px;
  margin: auto;
  align-items: center;
  display: flex;
}
.hero picture{
  background-color: #FFC100
}
.hero img{
  max-width: 100%
}
.hero #credit{
  display: none
}
.hero__content{
  position: absolute;
  align-self: center;
  margin: auto;
  padding: 0 65% 0 3%;
}
.hero__content h1{
  text-align: center;
}
@media (max-width: 1100px) {
  .hero__content h1{font-size: 40px}
}
@media (max-width: 900px) {
  .hero__content h1{font-size: 36px}
}
.hero__button{
  display: flex;
  margin: 8% auto 0 auto;
  max-width: 240px;
  height: 70px;
  align-items: center;
  justify-content: center;
  background: #FFD54A;
  border-radius: 20px;
}
.hero__button:hover{border: 2px solid black;}

/* ! INTRO */
.intro{
  max-width: 1450px;
  margin: auto;
  padding: 1% 5% 1% 5%;
  background-color: #FFC100;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  color: #917528
}

/* ! BESTSELLER */
.bs-title{
  max-width: 1450px;
  margin: 50px auto 20px auto;
  color: black;
  font-weight: 600;
  text-align: center;
}
.bs{
  max-width: 1450px;
  width: 95%;
  margin: auto;
  border: 4px solid #F1F1F1;
}
.bs1{display: flex;}
.bs__content{
  width: 60%;
  margin: 0;
  background-color: white;
}
.bs__content h2{
  font-weight: 500;
  line-height: 40px;
  margin: 20px auto 0 auto;
  text-align: center;
}
.bs__content h3{
  font-weight: 500;
  line-height: 40px;
  margin: 0 auto 10px auto;
  text-align: center;
}
.bs__reviews{
  display: flex;
  margin: 10px auto 10px auto;
  justify-content: center;
}
.bs__stars{
  display: flex;
  height: 35px;
  width: auto
}
.bs__numbers{
  display: flex;
  font-weight: 600;
  color: #5E80FA;
  align-items: center;
  text-indent: 20px;
}
.bs__img{
  height: 600px;
  width: 100%;
  margin: 0;
  background: url('imgvid/Yahtzee3D-6x9.webp') no-repeat center center;
  background-size: contain;
  background-color: white;
}
.bs__list{
  width: 40%;
  display: inline-block;
}
.bs__text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px 5px 0 5px;
}
.bs__text h3{
  height: auto;
  width: 200px;
  color: black;
  text-align: center;
  margin-bottom: 25px;
  padding: 15px;
  border: 2px solid #F1F1F1;
}
.bs__price{
  display: flex;
  justify-content: center;
  margin: 40px;
}
.bs__price img{
  max-width: 200px;
  width: auto;
  height: auto
}
.bs__available{
  text-align: center;
  margin: 10px;
  font-weight: 500;
  color: green;
}
.bs__button{
  display: flex;
  margin: auto;
  max-width: 240px;
  height: 70px;
  align-items: center;
  justify-content: center;
  background: #FFD54A;
  border-radius: 20px;
  color: black;
}
.bs__button:hover{
  border: 2px solid black
}

@media (max-width: 1100px) {
  .bs__text h3{
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    font-size: 22px}
  .bs__price{margin: 20px}
}

/* ! REVIEWS*/
.reviews-title{
  max-width: 1450px;
  margin: 50px auto 0 auto;
  text-align: center;
}
.reviews{
  max-width: 1400px;
  position: relative;
  margin: auto;
  margin-bottom: 20px
}
.reviews b{
  font-weight: 500;
  line-height: 1.5;
  margin: auto 10px
}
.reviews h4{
  font-weight: 500;
  text-align: center;
  line-height: 1;
  margin: 20px auto 0 auto
}
.talk-bubble-right{
  position: relative;
  width: 70%;
  margin: 10px 5% auto 25%;
  padding: 5px 15px 10px 15px;
  text-align: right;
  border: 4px solid #F1F1F1;
  border-radius: 10px;
}
.talk-bubble-left{
  position: relative;
  width: 70%;
  margin: 10px 25% auto 5%;
  padding: 5px 15px 10px 15px;
  border: 4px solid #F1F1F1;
  border-radius: 10px;
}
.tri-right.border.right-top:before{
	content: ' ';
  position: absolute;
  right: -20px;
  top: -4px;
	border: 18px solid;
	border-color: #F1F1F1 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	right: -12px;
  top: 0px;
	border: 20px solid;
	border-color: white transparent transparent transparent;
}
.tri-right.border.left-top:before{
  content: ' ';
	position: absolute;
	left: -20px;
  top: -4px;
	bottom: auto;
	border: 18px solid;
	border-color: #F1F1F1 transparent transparent transparent;
}
.tri-right.border.left-top:after {
  content: ' ';
	position: absolute;
	left: -12px;
  top: 0px;
	border: 20px solid;
	border-color: white transparent transparent transparent;
}

/* ! OTHER PRODUCTS*/
.otherprod{
  display: flex;
  margin: 50px auto 0 auto;
  max-width: 1450px;
  color: black;
  justify-content: center;
}
.otherprod-carousel{
  max-width: 1450px;
  width: 95%;
  margin: auto;
  padding: 30px 0;
  /* non margin ma padding per spostare lo slider in basso */
}
.carousel-cell{
  height: 420px;
  width: 400px;
  margin-right: 40px;
  padding: 20px 10px;
  border: 3px solid #F1F1F1;
  text-align: center;
  justify-content: center;
  line-height: 25px;
}
.flickity-button:disabled{display: none}
.flickity-prev-next-button.previous{left: 0px}
.flickity-prev-next-button.next{right: 0px}
.flickity-page-dots{bottom: 10px}
.flickity-page-dots .dot{
  height: 4px;
  width: 60px;
  margin: 0;
  border-radius: 0
}
.carousel-cell img{
  height: 80%;
  max-width: 400px;
}
.carousel-cell img:hover{
  transform: scale(1.1);
  transition: 0.5s
}
.carouselbottom{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.carouselprice{
  display: block;
  padding: 0 10px 0 10px;
}
.highprice{
  height: 50%;
  color: grey;
  text-decoration: line-through;
}
.lowprice{
  height: 50%;
  text-align: center;
  font-weight: bold;
}
.carouselbuy{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: #FFD54A;
  border-radius: 14px;
  color: black
}
.carouselbuy:hover{border: 2px solid black}

/* ! SUBSCRIBE*/
/*
form{
  margin: 50px auto 0 auto;
  max-width: 1450px;
  width: 60%;
  border: 4px solid #F1F1F1;
}
.container {
  padding: 20px;
  background-color: #F1F1F1;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #CCC;
  box-sizing: border-box;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: 3px solid #04AA6D;
  border-radius: 14px;
}
input[type=submit]:hover {
  background-color: white;
  color: #04AA6D;
  border: 3px solid #04AA6D;
}
*/
/* ! THE GAME COMPANY*/
.aboutcompany{
  display: flex;
  max-width: 1450px;
  width: 95%;
  margin: 50px auto 0 auto;
  padding: 20px;
  border: 3px solid #F1F1F1;
  justify-content: space-between;
}
.aboutlogo{
  width: 42%;
  background: url('imgvid/logo_black.svg') no-repeat center center;
  background-size: contain;
  background-color: white;
}
.abouttext{
  width: 55%
}
.abouttitle{
  padding: 10px 0;
  margin: auto;
  text-align: center;
}
.aboutdescr{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
@media (max-width: 1000px) {
  .aboutcompany{flex-direction: column;}
  .aboutlogo{
    margin: auto;
    width: 462px;
    height: 186px;}
  .abouttext{width: 100%}
  .abouttext h3{padding: 15px}
}

/* ! FOOTER*/
footer{
  margin-top: 50px;
  height: 100px;
  background-color: #201D48;
  display: flex;
  color: white;
}
footer img{
  max-height: 80px;
  margin: auto auto auto 30px;
  vertical-align: middle;
}
.footerright{
  margin: auto 30px auto auto;
  vertical-align: middle;
  text-align: right;
  color: white;
}

/* ! MOBILE */
@media (max-width: 780px) {
  .text2{font-size: 35px}
  .text3{font-size: 28px}
  .text5{font-size: 22px}
  .text6{font-size: 20px}
  .text7{font-size: 18px}
  .text8{font-size: 17px}
  header{justify-content: space-between;}
  .menu{
    z-index: 1;
    position: fixed;
    right: -100%;
    background: white;
    height: 100vh;
    padding-top: 30%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;}
  .menu li{
    width: 85%;
    text-align: center;}
  .menu a{
    border: 0;
    display: block;
    color: black;
    padding: 40px;}
  .menu a:hover:after{display: none}
  .menu--open{right: 0%;}
  .body--fixed{position: fixed}
  .hamburger{
    display: block;
    width: 40px;
    height: 40px;
    align-items: center;
    margin: 30px 30px 0 0;}
  .hamburger #spanline1, #spanline2{
    background: black;
    height: 3px;
    width: 100%;
    display: block;
    margin-top: 5px;
    transition: all 0.5s}
  .hamburger #spanmenu{
    color: black;
    font-variant: small-caps;
    text-align: center;
    height: 3px;
    width: 100%;
    display: block;
    margin-top: 5px;
    transition: all 0.5s}
  .hamburger--open #spanline1{transform: rotate(45deg) translateY(5px);}
  .hamburger--open #spanline2{transform: rotate(315deg) translateY(-5px)}
  .hamburger--open #spanmenu{color: white}
  .hero__content{display: none}
  .bs-title{margin: 30px auto 20px auto}
  .bs1{flex-direction: column}
  .bs__content{width:100%}
  .bs__content h2{margin: 10px 0 0 0}
  .bs__content h3{margin: 0}
  .bs__list{width: 100%;}
  .bs__text{margin-top: 20px;}
  .bs__price img{max-width: 180px;}
  #rev4, #rev5{display: none}
  .carousel-cell{
    width: 350px;
    padding: 20px 0}
  form{width: 80%}
  .aboutlogo{
    width: 396px;
    height: 159px}
}

@media (max-width: 674px) {
  .bs__text h3{
    padding: 15px 2px;
    width: 250px}
}

@media (max-width: 525px) {
  .text2{font-size: 30px}
  .text3{font-size: 24px}
  .text5{font-size: 20px}
  .text6{font-size: 20px}
  .text7{font-size: 17px}
  .text8{font-size: 17px}
  .bs__content h2, .bs__content h3{
    line-height: 30px}
  .bs__stars{
    margin: 5px auto;
    height: 32px}
  .bs__reviews{flex-direction: column}
  .bs__numbers{
    margin: auto;
    text-indent: 0px;
    text-align: center;
    padding-top: 5px}
  .bs__img{
    max-height: 420px}
  .reviews b{
    line-height: 1.5;
    margin-bottom: 5px}
  .aboutlogo{
    width: 330px;
    height: 133px}
  footer img{max-height: 50px}

}

@media (max-width: 420px) {
  .text2{font-size: 30px}
  .text3{font-size: 24px}
  .text5{font-size: 20px}
  .text6{font-size: 20px}
  .text7{font-size: 17px}
  .text8{font-size: 15px}
  .logo{max-height: 80px}
  .logo img{max-height: 80px}
  .hamburger{margin: 20px 20px 0 0}
  .bs__stars{
    height: 30px;
    margin-top: 5px}
  .bs__img{
    width: 100%;
    max-height: 320px}
  .aboutlogo{
    width: 264px;
    height: 106px}
}

@media (max-width: 320px) {
  .bs__img{max-height: 200px}
  .aboutlogo{
    width: 198px;
    height: 80px}
}










*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}
