/* ! BASE STYLE */
body{font-family: 'Red Hat Display', sans-serif;}
a{text-decoration: none;}
h1, h2, h3, h4, h5, p{color: black}
.text1{color: black; font-size: 50px}
.text2{color: black; font-size: 40px}
.text3{color: black; font-size: 30px}
.text4{color: black; font-size: 28px}
.text5{color: black; font-size: 22px}
.text6{color: black; font-size: 22px; line-height: 30px}
.text7{color: black; font-size: 20px}
.text8{color: black; font-size: 18px}
.textmenu{color: black; font-size: 25px}

/* ! HEADER */
header{
  max-width: 1450px;
  margin: auto;
  display: flex;
  background: white;
  justify-content: center;
}
.logo{
  z-index: 2;
  max-height: 100px
}
.logo img{
  padding-left: 10px;
  max-height: 100px
}

/* ! GIFT*/
.gift{
  max-width: 1450px;
  width: 95%;
  margin: 20px auto 0 auto;
  border: 3px solid #F1F1F1;
}

h3 b{
  font-size: 30px;
  font-weight: bolder;
  background: linear-gradient(to left, violet, indigo, blue, green, gold, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;}

form{
  display: flex;
  flex-direction: column;
  background-image: url(imgvid/gift-img-trasp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form a{display: none}

.gifttitle h3{
  text-align: center;
  text-transform: uppercase;
  line-height: 35px;
  padding: 40px 0 20px 0;
}

.container{
  display: flex;
  flex-direction: column;
}

.container label{
  text-align: center;
  padding: 10px 0 0 0;
}

.container input{
  width: 70%;
  height: 40px;
  text-align: center;
  margin: 10px auto 10px auto;
}

.csend{
  padding-bottom: 40px
}

input{
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

input[type="text"]{
  min-width: 180px;
}

input[type="submit"]{
  width: 40%;
  min-width: 180px;
  border-width: 2px;
  border-color: #81AD62;
  border-style: outset;
  background-color: #92C267;
}

input[type="submit"]:focus{
  border-style:inset
}

/* ! FOOTER*/
footer{
  margin-top: 50px;
  height: 100px;
  background-color: #201D48;
  display: flex;
  color: white;
}
footer img{
  display: none;
  max-height: 80px;
  margin: auto auto auto 30px;
  vertical-align: middle;
}
.footerright{
  display: none;
  margin: auto 30px auto auto;
  vertical-align: middle;
  text-align: right;
  color: white
}

/* ! MOBILE */
@media (max-width: 780px) {
  .text2{font-size: 35px}
  .text3{font-size: 28px}
}

@media (max-width: 674px) {
  .text3{font-size: 26px}
  .text6{font-size: 20px}
}

@media (max-width: 600px) {
  .text2{font-size: 32px}
  .text3{font-size: 25px}
  .text5{font-size: 22px}
}

@media (max-width: 525px) {
  .text4{font-size: 24px}
  footer img{max-height: 50px}
}

@media (max-width: 420px) {
  .text2{font-size: 30px}
  .text3{font-size: 22px}
  .text5{font-size: 20px}
  .text6{font-size: 18px}
  .text8{font-size: 16px}
  .logo img{max-height: 80px}
  .intro{line-height: 1.2}
}






*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}
